@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">bem vindo!</h1>
    <p>não consegui finalizar tudo. Passei o Final de semana estudando esta linguagem mas não foi o suficiente para fazer algo grandioso para este desafio, tenho experiência com outra linguagem (ruby on rails), mais uma vez.. está simples, mas espero que goste. Att. Sarah.</a>.</p>
</div>
